.counter {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  margin: 20px auto;
}

.counterButton {
  text-align: center;
  height: 35px;
  width: 35px;
  background-color: lightblue;
  box-sizing: border-box;
  border: none;
}

.countNum {
  height: 35px;
  width: 35px;
  box-sizing: border-box;
}
